@{
    ViewData["Title"] = "Usuario";
    Layout = null;
}

@model Application.Models.LoginViewModel

<title>MedTech | LogIn</title>

<link href="~/css/login.css" rel="stylesheet" />

<div class="wrapper fadeInDown">

    <div id="formContent">
        <div class="fadeIn first">
            <img src="~/img/logo.png" id="icon" alt="Logo" />
        </div>

        <form asp-controller="Usuario" asp-action="Index" method="post">
            <input asp-for="Usuario" type="text" class="fadeIn second" placeholder="Usuário" minlength="4" maxlength="20" required>
            <span asp-validation-for="Usuario" class="text-danger"></span>
            <input asp-for="Senha" type="password" class="fadeIn third" placeholder="Senha" minlength="4" maxlength="20" required>
            <span asp-validation-for="Senha" class="text-danger"></span>
            <br /><br />
            <input type="submit" class="fadeIn fourth" value="Log In">
            <br />
            <span style="color:red">@ViewData["Retorno"]</span>
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="#">Esqueceu sua senha?</a><br /><br />
            <a style="color:gray">Ainda não possui cadastro? </a><br />
            <a class="underlineHover" href="../Cadastro">Cadastre-se agora!</a>
        </div>

    </div>
</div>