<footer class="border-top footer text-muted">
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <p class="fl_left">MedTech &copy; 2023</p>
        </div>
    </div>
</footer>