    <div class="bgmed">
        <div id="pageintro" class="hoc clear">
            <article>
                <p>Saúde em primeiro lugar</p>
                <h3 class="heading">Atendimento 24h</h3>
                <p>Cuidando de você, e da sua família.</p>
                <footer>
                    <ul class="nospace inline pushright">
                        <li><a class="btn" style="float:left" href="../../Ficha/Index/1">Fichas Médicas</a></li>
                        </ul>
                </footer>
            </article>
        </div>
    </div>