<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <h1>MedTech</h1>
        </div>
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a href="../../Home">Início</a></li>
                <li>
                    <a class="drop" href="#">Agendamento</a>
                    <ul>
                        <li><a href="#">Convênio</a></li>
                        <li><a href="#">Particular</a></li>
                    </ul>
                </li>
                <li>
                    <a class="drop" href="#">Serviços</a>
                    <ul>
                        <li><a href="#">Pronto socorro</a></li>
                        <li><a href="#">Ambulatório de especialidades</a></li>
                        <li><a href="#">Especialidades atendidas</a></li>
                        <li><a href="#">Exames</a></li>
                    </ul>
                </li>
                <li><a href="#">Maternidade</a></li>
                <li><a href="#">Orientações</a></li>
                <li>
                    <a class="drop" href="#">Contato</a>
                    <ul>
                        <li><a href="#">Entre em contato</a></li>
                        <li><a href="#">Trabalhe conosco</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</div>